This will be my first foray of analysis in the business world.  I'm trying to analyze game user data via Pandas.

In [1]:
# Step 1: Import my dependencies
import pandas as pd
# Step 2: Set up the file path and download the information as a dataframe
file_to_load = "Resources/purchase_data.csv"
#read my data and store it as a dataframe
purchase_data = pd.read_csv(file_to_load)

In [2]:
# Step 3: Get a count of the number of users in the game.
#The following code pulls only the unique SN values 
users = len(purchase_data["SN"].unique())
summary_users = pd.DataFrame({"Total Users":[users]})
summary_users

   Total Users
0          576

In [3]:
#Step 4: Perform basic calculations to discover number of items, average price, number of purchases, and total revenue.
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [4]:
#calculate number of items
# the following code pulls only the unique item ID's
item_num = len(purchase_data["Item ID"].unique())
item_num

183

In [5]:
#calculate average price
price_avg = round(purchase_data["Price"].mean(),2)
print(price_avg)

3.05

In [7]:
#calculate number of purchases made
purchases = len(purchase_data["Purchase ID"].unique())
purchases

780

In [8]:
#calculate total revenue
revenue = purchase_data["Price"].sum()
revenue

2379.77

In [9]:
# Now this needs to be formated into a table that I can show to everyone
summary_table_purchases = pd.DataFrame({"Number of Items": [item_num],
                                        "Total Average": [price_avg],
                                        "Number of Purchases": [purchases],
                                        "Total Revenue": [revenue]})
#applying special formatting so that everything is more readable
summary_table_purchases["Total Average"] = summary_table_purchases["Total Average"].map("${:.2f}".format)
summary_table_purchases["Total Revenue"] = summary_table_purchases["Total Revenue"].map("${:.2f}".format)

#display the table
summary_table_purchases

   Number of Items Total Average  Number of Purchases Total Revenue
0              183         $3.05                  780      $2379.77

In [25]:
#Next we need to do gender demographics.  Somehow I need a list with unique people only.  I'm thinking a list of unique names 
#with their identified genders.

unique_users = purchase_data.drop_duplicates("SN")

genders = unique_users.groupby(["Gender"])
genders["Gender"].value_counts()

Gender                 Gender
Female                 Female                    81
Male                   Male                     484
Other / Non-Disclosed  Other / Non-Disclosed     11
Name: Gender, dtype: int64