This will be my first foray of analysis in the business world.  I'm trying to analyze game user data via Pandas.

In [41]:
# Step 1: Import my dependencies
import pandas as pd
# Step 2: Set up the file path and download the information as a dataframe
file_to_load = "Resources/purchase_data.csv"
#read my data and store it as a dataframe
purchase_data = pd.read_csv(file_to_load)

In [42]:
# Step 3: Get a count of the number of users in the game.
#The following code pulls only the unique SN values 
users = len(purchase_data["SN"].unique())
summary_users = pd.DataFrame({"Total Users":[users]})
summary_users

   Total Users
0          576

In [43]:
#Step 4: Perform basic calculations to discover number of items, average price, number of purchases, and total revenue.
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [44]:
#calculate number of items
# the following code pulls only the unique item ID's
item_num = len(purchase_data["Item ID"].unique())
item_num

183

In [45]:
#calculate average price
price_avg = round(purchase_data["Price"].mean(),2)
print(price_avg)
#I suspect that the given average might not be correct.  I want to know if it's asking for average price of all purchases,
#or average price for all 183 items.  The given number is the average price for all purchases.
price_avg2 = round((purchase_data["Price"].sum())/item_num,2)
print(price_avg2)

3.05
13.0

In [46]:
#As we can see both numbers are quite different.  I'm not sure which answer we're looking for but I might include both until
# I gain further light and knowledge

In [47]:
#calculate number of purchases made
purchases = len(purchase_data["Purchase ID"].unique())
purchases

780

In [48]:
#calculate total revenue
revenue = purchase_data["Price"].sum()
revenue

2379.77

In [49]:
# Now this needs to be formated into a table that I can show to everyone
summary_table_purchases = pd.DataFrame({"Number of Items": [item_num],
                                        "Total Average": [price_avg],
                                        "Average per Item": [price_avg2],
                                        "Number of Purchases": [purchases],
                                        "Total Revenue": [revenue]})
#applying special formatting so that everything is more readable
summary_table_purchases["Total Average"] = summary_table_purchases["Total Average"].map("${:.2f}".format)
summary_table_purchases["Average per Item"] = summary_table_purchases["Average per Item"].map("${:.2f}".format)
summary_table_purchases["Total Revenue"] = summary_table_purchases["Total Revenue"].map("${:.2f}".format)

#display the table
summary_table_purchases

,Number of Items,Total Average,Average per Item,Number of Purchases,Total Revenue
0,183,$3.05,$13.00,780,$2379.77