This will be my first foray of analysis in the business world.  I'm trying to analyze game user data via Pandas.

In [50]:
#Import my dependencies
import pandas as pd
#Set up the file path and download the information as a dataframe
file_to_load = "Resources/purchase_data.csv"
#read my data and store it as a dataframe
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

### Calculate total number of users

In [51]:
#The following code pulls only the unique SN values 
unique_users = purchase_data.drop_duplicates("SN")
users = len(unique_users["SN"])
summary_users = pd.DataFrame({"Total Users":[users]})
print(summary_users)

   Total Users
0          576

### Perform basic calculations

In [64]:
#create a list of unique item names
unique_items = purchase_data.drop_duplicates("Item ID")
# store the length of the list as a variable
item_num = len(unique_items["Item ID"])
#display the variable
#print(f"Number of items:{item_num}")

#calculate average price and store as a variable
price_avg = round(purchase_data["Price"].mean(),2)
#display the variable
#print(f"Average price:{price_avg}")

#Create a unique list of purchases made
unique_purchases = purchase_data.drop_duplicates("Purchase ID")
#Store the length of the list as a variable
purchases = len(unique_purchases["Purchase ID"])
#display the variable
#print(f"Number of purchases:{purchases}")

#calculate total revenue and store it as a variable
revenue = purchase_data["Price"].sum()
#display the variable
#print(f"Total Revenue:{revenue}")

# Format the above results into a table
summary_table_purchases = pd.DataFrame({"Number of Items": [item_num],
                                        "Total Average": [price_avg],
                                        "Number of Purchases": [purchases],
                                        "Total Revenue": [revenue]})
#applying special formatting so that everything is more readable
summary_table_purchases["Total Average"] = summary_table_purchases["Total Average"].map("${:.2f}".format)
summary_table_purchases["Total Revenue"] = summary_table_purchases["Total Revenue"].map("${:.2f}".format)

#display the table
print(summary_table_purchases)

   Number of Items Total Average  Number of Purchases Total Revenue
0              183         $3.05                  780      $2379.77

### Gender Demographics

In [53]:
#create a list of males from the unique users dataset and save the length of the list as a variable
males = len(unique_users.loc[unique_users["Gender"] == "Male",:]) 
#calculate the percentage of male users compared to the total player base
male_percent = round(males/users,2)*100
#display the calculations
print(f"Number of Males:{males}")
print(f"Percentage of Males:{male_percent}")

Number of Males:484
Percentage of Males:84.0

In [54]:
#create a list of females from the unique users dataset and save the length of the list as a variable
females = len(unique_users.loc[unique_users["Gender"]== "Female",:])
#calculate the percentage of female users compared to the total player base
female_percent = round(females/users,2)*100
#display the calculations
print(f"Number of Females:{females}")
print(f"Percentage of Females:{female_percent}")

Number of Females:81
Percentage of Females:14.000000000000002

In [55]:
#Create a list of other genders from the unique users dataset and save the length of the list as a variable
others = len(unique_users.loc[unique_users["Gender"] == "Other / Non-Disclosed",:])
#calculate the percentage of other users compared to the total player base
others_percent = round(others/users,2)*100
print(f"Number of Others:{others}")
print(f"Percentage of Others:{others_percent}")

Number of Others:11
Percentage of Others:2.0

In [56]:
#Create a summary table based on the above calculations
summary_table_gender = pd.DataFrame({"Users": [males, females, others],
                                        "Percentages": [male_percent,female_percent,others_percent]},
                                   index=["Male","Female","Other / Non-Disclosed"])
#Format the table
summary_table_gender["Percentages"] = summary_table_gender["Percentages"].map("{:.0f}%".format)
#Display the table
print(summary_table_gender)

                       Users Percentages
Male                     484         84%
Female                    81         14%
Other / Non-Disclosed     11          2%

### Purchase Analysis By Gender

In [57]:
#Create a subset of data for our purchase analysis
gender_purchases = purchase_data[["Purchase ID","SN","Gender","Price"]]
#Count of purchases per gender
gender_gp = gender_purchases.groupby("Gender").count()
purchase_gen = gender_gp["Purchase ID"]
print(purchase_gen)
print(" ")
#Average purchase price per gender
average_gp = gender_purchases.groupby("Gender").mean()
average_gen = average_gp["Price"]
print(average_gen)
print(" ")
#Total Purchase values
sum_gp = gender_purchases.groupby("Gender").sum()
print(sum_gp["Price"])
#Average purchase per person by gender
gender_individual = gender_purchases.groupby(["Gender","SN"]).mean()
print(gender_individual["Price"])

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64
Gender                 SN
Female                 Adastirin33      4.480
                       Aerithllora36    4.320
                       Aethedru70       3.540
                       Aidain51         3.450
                       Aiduesu86        4.480
                                        ...
Other / Non-Disclosed  Lirtim36         1.330
                       Maluncil97       2.640
                       Rairith81        2.220
                       Siarithria38     3.455
                       Sundim98         4.750
Name: Price, Length: 576, dtype: float64

###Age Demographics

In [60]:
#Set up bins
bins = [6,10,14,18,22,26,30,34,38,42,46,50]
#Set up group names
group_names = ["7-10","11-14","15-18","19-22","23-26","27-30","31-34","35-38","39-42","43-46","47-50"]
#Add Age demographics column to the data set
unique_users["Age Demographics"]= pd.cut(unique_users["Age"],bins,labels = group_names)
#Create age demographic groupby object
age_demo = unique_users.groupby("Age Demographics")
#get purchase count
print(age_demo["Purchase ID"].count())
#average purchase price
print(age_demo["Price"].mean())
#total purchase value
print(age_demo["Price"].sum())
#Average purchase total per Person by Age Group
age_individual = unique_users.groupby(["Age Demographics","SN"])
print(age_individual["Price"].mean())

Age Demographics
7-10      24
11-14     15
15-18     90
19-22    178
23-26    151
27-30     48
31-34     27
35-38     25
39-42     14
43-46      4
47-50      0
Name: Purchase ID, dtype: int64
Age Demographics
7-10     3.424167
11-14    2.872667
15-18    3.076000
19-22    3.054719
23-26    3.090199
27-30    2.875625
31-34    2.699630
35-38    3.419600
39-42    3.479286
43-46    2.765000
47-50         NaN
Name: Price, dtype: float64
Age Demographics
7-10      82.18
11-14     43.09
15-18    276.84
19-22    543.74
23-26    466.62
27-30    138.03
31-34     72.89
35-38     85.49
39-42     48.71
43-46     11.06
47-50      0.00
Name: Price, dtype: float64
Age Demographics  SN
7-10              Adairialis76    NaN
                  Adastirin33     NaN
                  Aeda94          NaN
                  Aela59          NaN
                  Aelaria33       NaN
                                   ..
47-50             Yathecal82      NaN
                  Yathedeu43      NaN
                  Yoishirrala98   NaN
                  Zhisrisu83      NaN
                  Zontibe81       NaN
Name: Price, Length: 6336, dtype: float64

C:\Users\Samsung\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [61]:
#Top Spenders

#Create a group.by object by screen name
top_spenders = purchase_data.groupby(purchase_data["SN"])
#Create a dataframe using total price
newdf = pd.DataFrame(top_spenders['Price'].sum())
#Add new '# of Purchases' column drawing from the group.by object's price count
newdf['# of Purchases'] = top_spenders['Price'].count()
#Add new 'Avg Purchase' column from group.by object's price average
newdf['Avg Purchase'] = top_spenders['Price'].mean()
#Reorganize the column order
newdf = newdf[["# of Purchases","Avg Purchase","Price"]]
#Changed name of column from Price to Total Spent
newdf = newdf.rename(columns={'Price':'Total Spent'})
#Sort by Total Spent with the highest values at the top
newdf = newdf.sort_values('Total Spent',ascending = False)
#Pull only the top 5 rows from the altered dataset
top_5 = newdf.iloc[0:5, :]
#Reformate the Average Purchase and Total spent columns to read as dollars
top_5["Avg Purchase"] = top_5["Avg Purchase"].map("${:.2f}".format)
top_5["Total Spent"] = top_5["Total Spent"].map("${:.2f}".format)
#Display the Table
print(top_5)

             # of Purchases Avg Purchase Total Spent
SN
Lisosia93                 5        $3.79      $18.96
Idastidru52               4        $3.86      $15.45
Chamjask73                3        $4.61      $13.83
Iral74                    4        $3.40      $13.62
Iskadarya95               3        $4.37      $13.10

C:\Users\Samsung\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Samsung\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [62]:
#Top Items by Purchase Count
#Pull a group.by object sorted by Item ID and Item Name
top_items = purchase_data.groupby(["Item ID","Item Name"])
#Create a dataframe from the groupby object, drawing the value counts of the prices of the objects
item_df = pd.DataFrame(top_items['Price'].value_counts())
#Rename the second price column as # of Purchases
item_df = item_df.rename(columns={"Price":"# of Purchases"})
#Create the total revenue column from the groupby object focused on the sum of the price
item_df["Total Revenue"] = top_items["Price"].sum()
#Sort in descending order by the # of purchases of the item
item_df = item_df.sort_values('# of Purchases',ascending = False)
#Get only the top 5 items
top_5_items = item_df.iloc[0:5, :]
#formattop_5["Avg Purchase"] = top_5["Avg Purchase"].map("${:.2f}".format)
top_5_items["Total Revenue"] = top_5_items["Total Revenue"].map("${:.2f}".format)
#display
print(top_5_items)

                                                            # of Purchases  \
Item ID Item Name                                    Price
178     Oathbreaker, Last Hope of the Breaking Storm 4.23               12
145     Fiery Glass Crusader                         4.58                9
108     Extraction, Quickblade Of Trembling Hands    3.53                9
82      Nirvana                                      4.90                9
19      Pursuit, Cudgel of Necromancy                1.02                8

                                                           Total Revenue
Item ID Item Name                                    Price
178     Oathbreaker, Last Hope of the Breaking Storm 4.23         $50.76
145     Fiery Glass Crusader                         4.58         $41.22
108     Extraction, Quickblade Of Trembling Hands    3.53         $31.77
82      Nirvana                                      4.90         $44.10
19      Pursuit, Cudgel of Necromancy                1.02          $8.16

C:\Users\Samsung\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [63]:
#Top Items by Total Spent
#resort the last dataframe by total revenue, descending order
item_df2 = item_df.sort_values('Total Revenue',ascending = False)
#pull only the top five items
top_5_items2 = item_df2.iloc[0:5, :]
#formatting
top_5_items2["Total Revenue"] = top_5_items2["Total Revenue"].map("${:.2f}".format)
#display
print(top_5_items2)

                                                            # of Purchases  \
Item ID Item Name                                    Price
178     Oathbreaker, Last Hope of the Breaking Storm 4.23               12
82      Nirvana                                      4.90                9
145     Fiery Glass Crusader                         4.58                9
92      Final Critic                                 4.88                8
103     Singed Scalpel                               4.35                8

                                                           Total Revenue
Item ID Item Name                                    Price
178     Oathbreaker, Last Hope of the Breaking Storm 4.23         $50.76
82      Nirvana                                      4.90         $44.10
145     Fiery Glass Crusader                         4.58         $41.22
92      Final Critic                                 4.88         $39.04
103     Singed Scalpel                               4.35         $34.80

C:\Users\Samsung\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys