This will be my first foray of analysis in the business world.  I'm trying to analyze game user data via Pandas.

In [2]:
# Step 1: Import my dependencies
import pandas as pd
# Step 2: Set up the file path and download the information as a dataframe
file_to_load = "Resources/purchase_data.csv"
#read my data and store it as a dataframe
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Step 3: Get a count of the number of users in the game.
#The following code pulls only the unique SN values 
unique_users = purchase_data.drop_duplicates("SN")
users = len(unique_users["SN"])
summary_users = pd.DataFrame({"Total Users":[users]})
summary_users

   Total Users
0          576

In [4]:
#Step 4: Perform basic calculations to discover number of items, average price, number of purchases, and total revenue.
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [5]:
#calculate number of items
# the following code pulls only the unique item ID's
unique_items = purchase_data.drop_duplicates("Item ID")
item_num = len(unique_items["Item ID"])
item_num

183

In [6]:
#calculate average price
price_avg = round(purchase_data["Price"].mean(),2)
print(price_avg)

3.05

In [7]:
#calculate number of purchases made
unique_purchases = purchase_data.drop_duplicates("Purchase ID")
purchases = len(unique_purchases["Purchase ID"])
purchases

780

In [8]:
#calculate total revenue
revenue = purchase_data["Price"].sum()
revenue

2379.77

In [9]:
# Now this needs to be formated into a table that I can show to everyone
summary_table_purchases = pd.DataFrame({"Number of Items": [item_num],
                                        "Total Average": [price_avg],
                                        "Number of Purchases": [purchases],
                                        "Total Revenue": [revenue]})
#applying special formatting so that everything is more readable
summary_table_purchases["Total Average"] = summary_table_purchases["Total Average"].map("${:.2f}".format)
summary_table_purchases["Total Revenue"] = summary_table_purchases["Total Revenue"].map("${:.2f}".format)

#display the table
summary_table_purchases

   Number of Items Total Average  Number of Purchases Total Revenue
0              183         $3.05                  780      $2379.77

In [10]:
#Next we need to do gender demographics.  I'll pull a list from the unique players guide for that.
#first males
males = len(unique_users.loc[unique_users["Gender"] == "Male",:]) 
male_percent = round(males/users,2)*100
print(males)
print(male_percent)

484
84.0

In [11]:
#Next Females
females = len(unique_users.loc[unique_users["Gender"]== "Female",:])
female_percent = round(females/users,2)*100
print(females)
print(female_percent)

81
14.000000000000002

In [12]:
#Finally other
others = len(unique_users.loc[unique_users["Gender"] == "Other / Non-Disclosed",:])
others_percent = round(others/users,2)*100
print(others)
print(others_percent)

11
2.0

In [13]:
#Now to create the table
summary_table_gender = pd.DataFrame({"Users": [males, females, others],
                                        "Percentages": [male_percent,female_percent,others_percent]},
                                   index=["Male","Female","Other / Non-Disclosed"])
#formatting
summary_table_gender["Percentages"] = summary_table_gender["Percentages"].map("{:.0f}%".format)

summary_table_gender

                       Users Percentages
Male                     484         84%
Female                    81         14%
Other / Non-Disclosed     11          2%

In [14]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [15]:
#Next we need a purchasing analysis by gender.  This will go over purchase count, average purchase price, total purchase value,
#average purchase total per person by gender

gender_purchases = purchase_data[["Purchase ID","SN","Gender","Price"]]

In [16]:
#Purchases per gender
gender_gp = gender_purchases.groupby("Gender").count()
purchase_gen = gender_gp["Purchase ID"]
#Average purchase price per gender
average_gp = gender_purchases.groupby("Gender").mean()
average_gen = average_gp["Price"]
#Total Purchase values
sum_gp = gender_purchases.groupby("Gender").sum()
sum_gp["Price"]
#When it's asking for average purchse total per person by gender, is this what they mean?
gender_individual = gender_purchases.groupby(["Gender","SN"]).mean()
gender_individual["Price"]

Gender                 SN
Female                 Adastirin33      4.480
                       Aerithllora36    4.320
                       Aethedru70       3.540
                       Aidain51         3.450
                       Aiduesu86        4.480
                                        ...
Other / Non-Disclosed  Lirtim36         1.330
                       Maluncil97       2.640
                       Rairith81        2.220
                       Siarithria38     3.455
                       Sundim98         4.750
Name: Price, Length: 576, dtype: float64

###Age Demographics

In [17]:
unique_users["Age"].max()
bins = [6,10,14,18,22,26,30,34,38,42,46,50]
group_names = ["7-10","11-14","15-18","19-22","23-26","27-30","31-34","35-38","39-42","43-46","47-50"]
unique_users["Age Demographics"]= pd.cut(unique_users["Age"],bins,labels = group_names)
unique_users
age_demo = unique_users.groupby("Age Demographics")
#purchase count
age_demo["Purchase ID"].count()
#average purchase price
age_demo["Price"].mean()
#total purchase value
age_demo["Price"].sum()
#Average p total per Person by Age Group
age_individual = unique_users.groupby(["Age Demographics","SN"])
age_individual["Price"].mean()

C:\Users\Samsung\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

Age Demographics  SN
7-10              Adairialis76    NaN
                  Adastirin33     NaN
                  Aeda94          NaN
                  Aela59          NaN
                  Aelaria33       NaN
                                   ..
47-50             Yathecal82      NaN
                  Yathedeu43      NaN
                  Yoishirrala98   NaN
                  Zhisrisu83      NaN
                  Zontibe81       NaN
Name: Price, Length: 6336, dtype: float64

In [86]:
#Top Spenders

#Create a group.by object by screen name
top_spenders = purchase_data.groupby(purchase_data["SN"])
#Create a dataframe using total price
newdf = pd.DataFrame(top_spenders['Price'].sum())
#Add new '# of Purchases' column drawing from the group.by object's price count
newdf['# of Purchases'] = top_spenders['Price'].count()
#Add new 'Avg Purchase' column from group.by object's price average
newdf['Avg Purchase'] = top_spenders['Price'].mean()
#Reorganize the column order
newdf = newdf[["# of Purchases","Avg Purchase","Price"]]
#Changed name of column from Price to Total Spent
newdf = newdf.rename(columns={'Price':'Total Spent'})
#Sort by Total Spent with the highest values at the top
newdf = newdf.sort_values('Total Spent',ascending = False)
#Pull only the top 5 rows from the altered dataset
top_5 = newdf.iloc[0:5, :]
#Reformate the Average Purchase and Total spent columns to read as dollars
top_5["Avg Purchase"] = top_5["Avg Purchase"].map("${:.2f}".format)
top_5["Total Spent"] = top_5["Total Spent"].map("${:.2f}".format)
#Display the Table
print(top_5)

             # of Purchases Avg Purchase Total Spent
SN
Lisosia93                 5        $3.79      $18.96
Idastidru52               4        $3.86      $15.45
Chamjask73                3        $4.61      $13.83
Iral74                    4        $3.40      $13.62
Iskadarya95               3        $4.37      $13.10

C:\Users\Samsung\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Samsung\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [48]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [87]:
#Top Items by Purchase Count
#Pull a group.by object sorted by Item ID and Item Name
top_items = purchase_data.groupby(["Item ID","Item Name"])
#Create a dataframe from the groupby object, drawing the value counts of the prices of the objects
item_df = pd.DataFrame(top_items['Price'].value_counts())
#Rename the second price column as # of Purchases
item_df = item_df.rename(columns={"Price":"# of Purchases"})
#Create the total revenue column from the groupby object focused on the sum of the price
item_df["Total Revenue"] = top_items["Price"].sum()
#Sort in descending order by the # of purchases of the item
item_df = item_df.sort_values('# of Purchases',ascending = False)
#Get only the top 5 items
top_5_items = item_df.iloc[0:5, :]
#format
#display
print(top_5_items)

,,,# of Purchases,Total Revenue
Item ID,Item Name,Price,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
145,Fiery Glass Crusader,4.58,9,41.22
108,"Extraction, Quickblade Of Trembling Hands",3.53,9,31.77
82,Nirvana,4.90,9,44.10
19,"Pursuit, Cudgel of Necromancy",1.02,8,8.16

In [88]:
#Top Items by Totall Spent
item_df2 = item_df.sort_values('Total Revenue',ascending = False)
top_5_items2 = item_df2.iloc[0:5, :]
top_5_items2

,,,# of Purchases,Total Revenue
Item ID,Item Name,Price,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
82,Nirvana,4.90,9,44.10
145,Fiery Glass Crusader,4.58,9,41.22
92,Final Critic,4.88,8,39.04
103,Singed Scalpel,4.35,8,34.80