This will be my first foray of analysis in the business world.  I'm trying to analyze game user data via Pandas.

In [3]:
#Import my dependencies
import pandas as pd
#Set up the file path and download the information as a dataframe
file_to_load = "Resources/purchase_data.csv"
#read my data and store it as a dataframe
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

### Calculate total number of users

In [5]:
#The following code pulls only the unique SN values 
unique_users = purchase_data.drop_duplicates("SN")
users = len(unique_users["SN"])
summary_users = pd.DataFrame({"Total Users":[users]})
summary_users

   Total Users
0          576

### Perform basic calculations

In [6]:
#create a list of unique item names
unique_items = purchase_data.drop_duplicates("Item ID")
# store the length of the list as a variable
item_num = len(unique_items["Item ID"])
#display the variable
#print(f"Number of items:{item_num}")

#calculate average price and store as a variable
price_avg = round(purchase_data["Price"].mean(),2)
#display the variable
#print(f"Average price:{price_avg}")

#Create a unique list of purchases made
unique_purchases = purchase_data.drop_duplicates("Purchase ID")
#Store the length of the list as a variable
purchases = len(unique_purchases["Purchase ID"])
#display the variable
#print(f"Number of purchases:{purchases}")

#calculate total revenue and store it as a variable
revenue = purchase_data["Price"].sum()
#display the variable
#print(f"Total Revenue:{revenue}")

# Format the above results into a table
summary_table_purchases = pd.DataFrame({"Number of Items": [item_num],
                                        "Total Average": [price_avg],
                                        "Number of Purchases": [purchases],
                                        "Total Revenue": [revenue]})
#applying special formatting so that everything is more readable
summary_table_purchases["Total Average"] = summary_table_purchases["Total Average"].map("${:.2f}".format)
summary_table_purchases["Total Revenue"] = summary_table_purchases["Total Revenue"].map("${:.2f}".format)

#display the table
print(summary_table_purchases)

   Number of Items Total Average  Number of Purchases Total Revenue
0              183         $3.05                  780      $2379.77

### Gender Demographics

In [7]:
#create a list of males from the unique users dataset and save the length of the list as a variable
males = len(unique_users.loc[unique_users["Gender"] == "Male",:]) 
#calculate the percentage of male users compared to the total player base
male_percent = round(males/users,2)*100
#display the calculations
print(f"Number of Males:{males}")
print(f"Percentage of Males:{male_percent}")

Number of Males:484
Percentage of Males:84.0

In [8]:
#create a list of females from the unique users dataset and save the length of the list as a variable
females = len(unique_users.loc[unique_users["Gender"]== "Female",:])
#calculate the percentage of female users compared to the total player base
female_percent = round(females/users,2)*100
#display the calculations
print(f"Number of Females:{females}")
print(f"Percentage of Females:{female_percent}")

Number of Females:81
Percentage of Females:14.000000000000002

In [9]:
#Create a list of other genders from the unique users dataset and save the length of the list as a variable
others = len(unique_users.loc[unique_users["Gender"] == "Other / Non-Disclosed",:])
#calculate the percentage of other users compared to the total player base
others_percent = round(others/users,2)*100
print(f"Number of Others:{others}")
print(f"Percentage of Others:{others_percent}")

Number of Others:11
Percentage of Others:2.0

In [10]:
#Create a summary table based on the above calculations
summary_table_gender = pd.DataFrame({"Users": [males, females, others],
                                        "Percentages": [male_percent,female_percent,others_percent]},
                                   index=["Male","Female","Other / Non-Disclosed"])
#Format the table
summary_table_gender["Percentages"] = summary_table_gender["Percentages"].map("{:.0f}%".format)
#Display the table
print(summary_table_gender)

                       Users Percentages
Male                     484         84%
Female                    81         14%
Other / Non-Disclosed     11          2%

### Purchase Analysis By Gender

In [20]:
#Create a subset of data for our purchase analysis
gender_purchases = purchase_data[["Purchase ID","SN","Gender","Price"]]
#create the groupby object indexed by gender
gender_gp = gender_purchases.groupby("Gender")
#create a dataframe from the group by object, with the first row being the number of purchases per gender
gender_df = pd.DataFrame(gender_gp["Purchase ID"].count())
#create a column by the average purchase price per gender
gender_df["Avg Purchase Price"] = gender_gp["Price"].mean()
#create a column of total purchase value per gender
gender_df["Total Revenue"] = gender_gp["Price"].sum()
gender_df

                       Purchase ID  Avg Purchase Price  Total Revenue
Gender
Female                         113            3.203009         361.94
Male                           652            3.017853        1967.64
Other / Non-Disclosed           15            3.346000          50.19

In [22]:
#Average purchase per person by gender
gender_individual = gender_purchases.groupby(["Gender","SN"])
gender_ind_df = pd.DataFrame(gender_individual["Price"].mean())
gender_ind_df

                                     Price
Gender                SN
Female                Adastirin33    4.480
                      Aerithllora36  4.320
                      Aethedru70     3.540
                      Aidain51       3.450
                      Aiduesu86      4.480
...                                    ...
Other / Non-Disclosed Lirtim36       1.330
                      Maluncil97     2.640
                      Rairith81      2.220
                      Siarithria38   3.455
                      Sundim98       4.750

[576 rows x 1 columns]

### Age Demographics

In [30]:
#Set up bins
bins = [6,10,14,18,22,26,30,34,38,42,46]
#Set up group names
group_names = ["7-10","11-14","15-18","19-22","23-26","27-30","31-34","35-38","39-42","43-46"]
#Add Age demographics column to the data set
unique_users["Age Demographics"]= pd.cut(unique_users["Age"],bins,labels = group_names)
#Create age demographic groupby object
age_demo = unique_users.groupby("Age Demographics")
#Put the grouby object into a data frame with purchase count
age_df = pd.DataFrame(age_demo["Purchase ID"].count())
#average purchase price
age_df["Avg Price"] = age_demo["Price"].mean()
# Total Revenue
age_df["Total Revenue"] = age_demo["Price"].sum()
#display the chart
age_df

C:\Users\Samsung\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                  Purchase ID  Avg Price  Total Revenue
Age Demographics
7-10                       24   3.424167          82.18
11-14                      15   2.872667          43.09
15-18                      90   3.076000         276.84
19-22                     178   3.054719         543.74
23-26                     151   3.090199         466.62
27-30                      48   2.875625         138.03
31-34                      27   2.699630          72.89
35-38                      25   3.419600          85.49
39-42                      14   3.479286          48.71
43-46                       4   2.765000          11.06

In [31]:
#Average purchase total per Person by Age Group
age_individual = unique_users.groupby(["Age Demographics","SN"])
age_indv_df = pd.DataFrame(age_individual["Price"].mean())

age_indv_df

                                Price
Age Demographics SN
7-10             Adairialis76     NaN
                 Adastirin33      NaN
                 Aeda94           NaN
                 Aela59           NaN
                 Aelaria33        NaN
...                               ...
43-46            Yathecal82       NaN
                 Yathedeu43       NaN
                 Yoishirrala98    NaN
                 Zhisrisu83       NaN
                 Zontibe81        NaN

[5760 rows x 1 columns]

In [ ]:
#Top Spenders

#Create a group.by object by screen name
top_spenders = purchase_data.groupby(purchase_data["SN"])
#Create a dataframe using total price
newdf = pd.DataFrame(top_spenders['Price'].sum())
#Add new '# of Purchases' column drawing from the group.by object's price count
newdf['# of Purchases'] = top_spenders['Price'].count()
#Add new 'Avg Purchase' column from group.by object's price average
newdf['Avg Purchase'] = top_spenders['Price'].mean()
#Reorganize the column order
newdf = newdf[["# of Purchases","Avg Purchase","Price"]]
#Changed name of column from Price to Total Spent
newdf = newdf.rename(columns={'Price':'Total Spent'})
#Sort by Total Spent with the highest values at the top
newdf = newdf.sort_values('Total Spent',ascending = False)
#Pull only the top 5 rows from the altered dataset
top_5 = newdf.iloc[0:5, :]
#Reformate the Average Purchase and Total spent columns to read as dollars
top_5["Avg Purchase"] = top_5["Avg Purchase"].map("${:.2f}".format)
top_5["Total Spent"] = top_5["Total Spent"].map("${:.2f}".format)
#Display the Table
print(top_5)

In [ ]:
#Top Items by Purchase Count
#Pull a group.by object sorted by Item ID and Item Name
top_items = purchase_data.groupby(["Item ID","Item Name"])
#Create a dataframe from the groupby object, drawing the value counts of the prices of the objects
item_df = pd.DataFrame(top_items['Price'].value_counts())
#Rename the second price column as # of Purchases
item_df = item_df.rename(columns={"Price":"# of Purchases"})
#Create the total revenue column from the groupby object focused on the sum of the price
item_df["Total Revenue"] = top_items["Price"].sum()
#Sort in descending order by the # of purchases of the item
item_df = item_df.sort_values('# of Purchases',ascending = False)
#Get only the top 5 items
top_5_items = item_df.iloc[0:5, :]
#formattop_5["Avg Purchase"] = top_5["Avg Purchase"].map("${:.2f}".format)
top_5_items["Total Revenue"] = top_5_items["Total Revenue"].map("${:.2f}".format)
#display
print(top_5_items)

In [ ]:
#Top Items by Total Spent
#resort the last dataframe by total revenue, descending order
item_df2 = item_df.sort_values('Total Revenue',ascending = False)
#pull only the top five items
top_5_items2 = item_df2.iloc[0:5, :]
#formatting
top_5_items2["Total Revenue"] = top_5_items2["Total Revenue"].map("${:.2f}".format)
#display
print(top_5_items2)